body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {

	font-family: Helvetica, Arial, Sans-Serif;
}




#container {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	background: #fff;
}

#header {
	height: 170px;
	background: url(images/header.png);
}
#header h1 { text-indent: -9999px; }

#content {
	overflow: auto;
	/*background: url(images/faux-columns.png) repeat-y;*/
}

/*#content .sidebar {
	float: left;
}*/

#content .sidebar.primary {
	/*padding: 0 20px 20px 30px;*/
	float: right;
	width: 300px;
}
#content .sidebar.secondary { padding: 0 30px 20px 20px; }

#content .sidebar li {
	list-style: none;
	font-size: 16px; color: #666; line-height: 24px;
	margin-bottom: 1em;
}


#content #main {
	float: left; padding: 0 20px 20px 20px;
}
#content #main h2 {
	font: 1em Georgia, Serif; color: #aaa; margin: 0 0 5px 0;
	margin-top: 1.5em;
}
#content #main {
	color: #666; line-height: 24px; margin: 0 0 15px 0;
}

p {
	font-size: 0.9em;
}

#footer {
	height: 84px;
	background: url(images/footer.png);
}

h1 {
	font: 40px Georgia, Serif;
	margin-bottom: 1.5em
}

h3, h4 {
	margin-bottom: 1em;
	margin-top: 1em;
}

.date {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.pagination {
	margin-top: 2em;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
