body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #7c7c7c url(images/body-bg.png);
	font-family: Helvetica, Arial, Sans-Serif;
}




#container {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	background: #fff;
}

#header {
	height: 170px;
	background: url(images/header.png);
}
#header h1 { text-indent: -9999px; }

#content {
	overflow: auto;
	background: url(images/faux-columns.png) repeat-y;
}
#content .sidebar {
	width: 300px; float: left;
}
#content .sidebar.primary { padding: 0 20px 20px 30px; }
#content .sidebar.secondary { padding: 0 30px 20px 20px; }
#content .sidebar li {
	list-style: none;
	font-size: 16px; color: #666; line-height: 24px;
}


#content #main {
	width: 700px; float: left; padding: 0 20px 20px 20px;
}
#content #main h2 {
	font: 30px Georgia, Serif; color: #aaa; margin: 0 0 10px 0;
}
#content #main p {
	font-size: 14px; color: #666; line-height: 24px; margin: 0 0 15px 0;
}

#footer {
	height: 84px;
	background: url(images/footer.png);
}

h1 {
	font: 40px Georgia, Serif;
}
